
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #777;
}



.imgmentoria{
    width: 10%;
    height: 10%
}
.bgimg-1 {
    position: relative;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://image.freepik.com/free-photo/education-concept-student-studying-brainstorming-campus-concept-close-up-students-discussing-their-subject-books-textbooks-selective-focus_1418-627.jpg);;
    height: auto;
    max-width: 100%;
}
.navbar-trans {
    background: transparent; }

a.navbar-brand{
    font-family: 'Roboto', sans-serif;
    color: #000000 !important;
    font-weight: bold;
    /*font-size: 1vw;*/
    font-weight: bolder;
    line-height: 35px;
    margin-top: 0; }
.navbar-inverse .navbar-nav .nav-link{
    font-family: 'Roboto', sans-serif;
    color: #000000 !important;
    font-weight: bolder;
}
.padright{
    padding-top: 20%;
}
.padleft{
    padding-top: 7%;
}

/*
.square {
    height: 300px;
    widtH: 300px;
    border: 1px solid black;
    position: relative;
    background-color: red;
    background-image: url("http://placekitten.com/g/300/300");
}
.square:before {
    content: '';
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    transition: height 0.5s ease-out;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
}
.square:hover:before {

    height: 100%;
}
*/

